# Conectando com o Postgres via Psycopg2 e Pandas

In [ ]:
!pip install numpy
!pip install pandas
!pip install psycopg2

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.10/dist-packages (2.9.9)

### Importando bibliotecas

In [12]:
import psycopg2
import pandas as pd

### Usando psycopg2 para configurar conexão

In [13]:
conn = psycopg2.connect(host="isabelle.db.elephantsql.com",
                        database="bchsmxfk",
                        user="bchsmxfk",
                        password="u7UIuFaa2qU8S6kQmles6yR76cZ2t9Jp")

In [14]:
conn

CONSULTA DAS TABELAS COM TODOS DADOS INSERIDOS

In [47]:
df = pd.read_sql_query("""SELECT * FROM Modelo""", conn)
print(df)
df2 = pd.read_sql_query("""SELECT * FROM Marca""", conn)
print(df2)
df3 = pd.read_sql_query("""SELECT * FROM Carro""", conn)
print(df3)
df4 = pd.read_sql_query("""SELECT * FROM Categoria""", conn)
print(df4)
df5 = pd.read_sql_query("""SELECT * FROM Tipo_pagamento""", conn)
print(df5)
df6 = pd.read_sql_query("""SELECT * FROM Aluguel""", conn)
print(df6)
df7 = pd.read_sql_query("""SELECT * FROM Cliente""", conn)
print(df7)

<ipython-input-47-4164c6b2a5ef>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("""SELECT * FROM Modelo""", conn)
<ipython-input-47-4164c6b2a5ef>:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql_query("""SELECT * FROM Marca""", conn)

   id_modelo nome_modelo       descricao  fk_id_categoria  fk_id_marca
0          1     Corolla  Sedan compacto                1            1
1          2       Civic     Sedan médio                1            2
2          3     Mustang       Esportivo                2            3
3          4       Cruze     Sedan médio                1            4
4          5      Altima      Sedan luxo                2            5
5          6          X5      SUV grande                3            6
6          7          A4      Sedan luxo                2            7
7          8        Golf       Hatchback                1            8
8          9     C-Class      Sedan luxo                2            9
9         10     Elantra  Sedan compacto                1           10
   id_marca        nome
0         1      Toyota
1         2       Honda
2         3        Ford
3         4   Chevrolet
4         5      Nissan
5         6         BMW
6         7        Audi
7         8  Volkswagen
8         9    Mercedes
9        10     Hyundai

<ipython-input-47-4164c6b2a5ef>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3 = pd.read_sql_query("""SELECT * FROM Carro""", conn)
<ipython-input-47-4164c6b2a5ef>:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df4 = pd.read_sql_query("""SELECT * FROM Categoria""", conn)

   id_carro  fk_id_modelo   ano     placa
0         1             1  2021  ABC-1234
1         2             2  2022  DEF-5678
2         3             3  2021  GHI-9012
3         4             4  2020  JKL-3456
4         5             5  2019  MNO-7890
5         6             6  2022  PQR-1234
6         7             7  2018  STU-5678
7         8             8  2019  VWX-9012
8         9             9  2021  YZA-3456
9        10            10  2020  BCD-7890
   id_categoria         nome    valor
0             1        Sedan  50000.0
1             2         Luxo  70000.0
2             3          SUV  75000.0
3             4    Esportivo  80000.0
4             5    Hatchback  45000.0
5             6  Conversível  85000.0
6             7          Van  55000.0
7             8      Pick-up  65000.0
8             9    Crossover  68000.0
9            10        Coupe  78000.0

<ipython-input-47-4164c6b2a5ef>:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df5 = pd.read_sql_query("""SELECT * FROM Tipo_pagamento""", conn)
<ipython-input-47-4164c6b2a5ef>:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df6 = pd.read_sql_query("""SELECT * FROM Aluguel""", conn)

   id_tipo_pagamento               nome
0                  1  Cartão de Crédito
1                  2    Boleto Bancário
2                  3      Transferência
3                  4   Cartão de Débito
4                  5           Dinheiro
5                  6             Cheque
6                  7                Pix
7                  8      Financiamento
   id_aluguel  fk_id_carro  fk_id_cliente  fk_pagamento data_aluguel_inicial  \
0           1            1              1             1           2022-01-01
1           2            2              2             2           2022-02-02
2           3            3              3             3           2022-03-05
3           4            4              4             4           2022-04-10
4           5            5              5             5           2022-05-20
5           6            6              6             6           2022-06-01
6           7            7              7             7           2022-07-10
7           8            8              8             8           2022-08-15
8           9            9              9             3           2022-09-05
9          10           10             10             7           2022-10-01

  data_aluguel_entrega  valor_final
0           2022-01-10        500.0
1           2022-02-09        600.0
2           2022-03-15        700.0
3           2022-04-20        550.0
4           2022-05-30        650.0
5           2022-06-11        750.0
6           2022-07-20        850.0
7           2022-08-25        600.0
8           2022-09-15        650.0
9           2022-10-11        700.0
   id_cliente            nome          cpf       telefone  \
0           1      João Silva  11122233344  (11)1234-5678
1           2  Maria Oliveira  22233344455  (11)2345-6789
2           3   Pedro Almeida  33344455566  (21)3456-7890
3           4       Ana Costa  44455566677  (21)4567-8901
4           5     Luís Santos  55566677788  (31)5678-9012
5           6  Clara Ferreira  66677788899  (31)6789-0123
6           7   Roberto Souza  77788899900  (41)7890-1234
7           8     Laura Rocha  88899900011  (41)8901-2345
8           9    Rafaela Lima  99900011122  (51)9012-3456
9          10   Bruno Pereira  00011122233  (51)0123-4567

                        endereco       cnh
0        Rua das Flores, 123, SP  12345678
1            Av. do Sol, 456, RJ  23456789
2      Praça da Estação, 789, MG  34567890
3           Rua do Lago, 101, BA  45678901
4          Av. da Praia, 212, PE  56789012
5  Travessa da Montanha, 323, SC  67890123
6         Largo da Vila, 434, RS  78901234
7      Rua dos Pássaros, 545, AM  89012345
8          Av. do Campo, 656, RR  90123456
9     Praça do Comércio, 767, RO  01234567

<ipython-input-47-4164c6b2a5ef>:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df7 = pd.read_sql_query("""SELECT * FROM Cliente""", conn)

CONSULTA DAS TABELAS COM FILTROS WHERE

In [27]:
resultado = pd.read_sql_query("""SELECT * FROM aluguel WHERE to_char(data_aluguel_inicial, 'YYYY-MM') LIKE '2022-01'""", conn)
resultado

<ipython-input-27-09ac19b65b08>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  resultado = pd.read_sql_query("""SELECT * FROM aluguel WHERE to_char(data_aluguel_inicial, 'YYYY-MM') LIKE '2022-01'""", conn)

,id_aluguel,fk_id_carro,fk_id_cliente,fk_pagamento,data_aluguel_inicial,data_aluguel_entrega,valor_final
0,1,1,1,1,2022-01-01,2022-01-10,500.0

In [28]:
resultado2 = pd.read_sql_query("""SELECT * FROM aluguel WHERE valor_final >= 500""", conn)
resultado2

<ipython-input-28-f307d9c47d4c>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  resultado2 = pd.read_sql_query("""SELECT * FROM aluguel WHERE valor_final >= 500""", conn)

,id_aluguel,fk_id_carro,fk_id_cliente,fk_pagamento,data_aluguel_inicial,data_aluguel_entrega,valor_final
0,1,1,1,1,2022-01-01,2022-01-10,500.0
1,2,2,2,2,2022-02-02,2022-02-09,600.0
2,3,3,3,3,2022-03-05,2022-03-15,700.0
3,4,4,4,4,2022-04-10,2022-04-20,550.0
4,5,5,5,5,2022-05-20,2022-05-30,650.0
5,6,6,6,6,2022-06-01,2022-06-11,750.0
6,7,7,7,7,2022-07-10,2022-07-20,850.0
7,8,8,8,8,2022-08-15,2022-08-25,600.0
8,9,9,9,3,2022-09-05,2022-09-15,650.0
9,10,10,10,7,2022-10-01,2022-10-11,700.0

In [29]:
resultado3 = pd.read_sql_query("""SELECT * FROM aluguel WHERE valor_final >= 500 AND to_char(data_aluguel_entrega, 'YYYY-MM') LIKE '2022-01'""", conn)
resultado3

<ipython-input-29-fb80e322cbf8>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  resultado3 = pd.read_sql_query("""SELECT * FROM aluguel WHERE valor_final >= 500 AND to_char(data_aluguel_entrega, 'YYYY-MM') LIKE '2022-01'""", conn)

,id_aluguel,fk_id_carro,fk_id_cliente,fk_pagamento,data_aluguel_inicial,data_aluguel_entrega,valor_final
0,1,1,1,1,2022-01-01,2022-01-10,500.0

In [30]:
resultado4 = pd.read_sql_query("""SELECT * FROM aluguel WHERE fk_pagamento = 7""", conn)
resultado4

<ipython-input-30-0e6d5e21f81d>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  resultado4 = pd.read_sql_query("""SELECT * FROM aluguel WHERE fk_pagamento = 7""", conn)

,id_aluguel,fk_id_carro,fk_id_cliente,fk_pagamento,data_aluguel_inicial,data_aluguel_entrega,valor_final
0,7,7,7,7,2022-07-10,2022-07-20,850.0
1,10,10,10,7,2022-10-01,2022-10-11,700.0

 .

CONSULTAS QUE USAM OPERADORES LÓGICOS, ARITMÉTICOS, E TABELAS OU CAMPOS RENOMEADOS

In [32]:
res1 = pd.read_sql_query("""SELECT * FROM aluguel WHERE id_aluguel >= 3 AND to_char(data_aluguel_entrega, 'YYYY-MM') LIKE '2022-05'""", conn)
res1

<ipython-input-32-d9116f3e4083>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  res1= pd.read_sql_query("""SELECT * FROM aluguel WHERE id_aluguel >= 3 AND to_char(data_aluguel_entrega, 'YYYY-MM') LIKE '2022-05'""", conn)

,id_aluguel,fk_id_carro,fk_id_cliente,fk_pagamento,data_aluguel_inicial,data_aluguel_entrega,valor_final
0,5,5,5,5,2022-05-20,2022-05-30,650.0

In [33]:
res2 = pd.read_sql_query("""SELECT * FROM aluguel WHERE id_aluguel >= 5 AND fk_pagamento >= 3""", conn)
res2

<ipython-input-33-c7434ec0942f>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  res2 = pd.read_sql_query("""SELECT * FROM aluguel WHERE id_aluguel >= 5 AND fk_pagamento >= 3""", conn)

,id_aluguel,fk_id_carro,fk_id_cliente,fk_pagamento,data_aluguel_inicial,data_aluguel_entrega,valor_final
0,5,5,5,5,2022-05-20,2022-05-30,650.0
1,6,6,6,6,2022-06-01,2022-06-11,750.0
2,7,7,7,7,2022-07-10,2022-07-20,850.0
3,8,8,8,8,2022-08-15,2022-08-25,600.0
4,9,9,9,3,2022-09-05,2022-09-15,650.0
5,10,10,10,7,2022-10-01,2022-10-11,700.0

In [34]:
res3 = pd.read_sql_query("""SELECT * FROM aluguel WHERE id_aluguel >= 5 AND fk_pagamento >= 5""", conn)
res3

<ipython-input-34-de3a93957d1f>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  res3 = pd.read_sql_query("""SELECT * FROM aluguel WHERE id_aluguel >= 5 AND fk_pagamento >= 5""", conn)

,id_aluguel,fk_id_carro,fk_id_cliente,fk_pagamento,data_aluguel_inicial,data_aluguel_entrega,valor_final
0,5,5,5,5,2022-05-20,2022-05-30,650.0
1,6,6,6,6,2022-06-01,2022-06-11,750.0
2,7,7,7,7,2022-07-10,2022-07-20,850.0
3,8,8,8,8,2022-08-15,2022-08-25,600.0
4,10,10,10,7,2022-10-01,2022-10-11,700.0

In [42]:
res4 = pd.read_sql_query("""SELECT * FROM aluguel WHERE to_char(data_aluguel_entrega, 'YYYY-MM') LIKE '2022-05' AND to_char(data_aluguel_inicial, 'YYYY-MM') LIKE '2022-05' """, conn)
print(res4)

diferença_data = res4['data_aluguel_entrega'] - (res4['data_aluguel_inicial'])
print(f"\nA diferença de datas é: {diferença_data}")

   id_aluguel  fk_id_carro  fk_id_cliente  fk_pagamento data_aluguel_inicial  \
0           5            5              5             5           2022-05-20

  data_aluguel_entrega  valor_final
0           2022-05-30        650.0

A diferença de datas é: 0   10 days
dtype: timedelta64[ns]

<ipython-input-42-682ad7dff7a2>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  res4 = pd.read_sql_query("""SELECT * FROM aluguel WHERE to_char(data_aluguel_entrega, 'YYYY-MM') LIKE '2022-05' AND to_char(data_aluguel_inicial, 'YYYY-MM') LIKE '2022-05' """, conn)

In [43]:
res5 = pd.read_sql_query("""SELECT * FROM aluguel WHERE to_char(data_aluguel_entrega, 'YYYY-MM') LIKE '2022-06' AND to_char(data_aluguel_inicial, 'YYYY-MM') LIKE '2022-06' """, conn)
print(res5)

diferença_data = res5['data_aluguel_entrega'] - (res5['data_aluguel_inicial'])
print(f"\nA diferença de datas é: {diferença_data}")

   id_aluguel  fk_id_carro  fk_id_cliente  fk_pagamento data_aluguel_inicial  \
0           6            6              6             6           2022-06-01

  data_aluguel_entrega  valor_final
0           2022-06-11        750.0

A diferença de datas é: 0   10 days
dtype: timedelta64[ns]

<ipython-input-43-79b107b0143a>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  res5 = pd.read_sql_query("""SELECT * FROM aluguel WHERE to_char(data_aluguel_entrega, 'YYYY-MM') LIKE '2022-06' AND to_char(data_aluguel_inicial, 'YYYY-MM') LIKE '2022-06' """, conn)

CONSULTAS COM OPERADORES ARITMÉTICOS

In [53]:
re1 = pd.read_sql_query("""SELECT valor_final, (valor_final + 500) AS soma FROM aluguel""", conn)
print(re1)

   valor_final    soma
0        500.0  1000.0
1        600.0  1100.0
2        700.0  1200.0
3        550.0  1050.0
4        650.0  1150.0
5        750.0  1250.0
6        850.0  1350.0
7        600.0  1100.0
8        650.0  1150.0
9        700.0  1200.0

<ipython-input-53-61f296dd01d9>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  re1 = pd.read_sql_query("""SELECT valor_final, (valor_final + 500) AS soma FROM aluguel""", conn)

In [54]:
re2 = pd.read_sql_query("""SELECT valor_final, (valor_final - 50) AS subtração FROM aluguel""", conn)
print(re2)

   valor_final  subtração
0        500.0      450.0
1        600.0      550.0
2        700.0      650.0
3        550.0      500.0
4        650.0      600.0
5        750.0      700.0
6        850.0      800.0
7        600.0      550.0
8        650.0      600.0
9        700.0      650.0

<ipython-input-54-fa7e2e1338a7>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  re2 = pd.read_sql_query("""SELECT valor_final, (valor_final - 50) AS subtração FROM aluguel""", conn)

In [55]:
re3 = pd.read_sql_query("""SELECT valor, (valor + 150) AS soma FROM categoria""", conn)
print(re3)

     valor     soma
0  50000.0  50150.0
1  70000.0  70150.0
2  75000.0  75150.0
3  80000.0  80150.0
4  45000.0  45150.0
5  85000.0  85150.0
6  55000.0  55150.0
7  65000.0  65150.0
8  68000.0  68150.0
9  78000.0  78150.0

<ipython-input-55-e340ef2ae5bd>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  re3 = pd.read_sql_query("""SELECT valor, (valor + 150) AS soma FROM categoria""", conn)

CONSULTAS COM OPERAÇÃO DE RENOMEAR NOMES DE CAMPOS OU TABELAS

.

In [ ]:
re_alter1 = pd.read_sql_query("""ALTER TABLE aluguel RENAME COLUMN valor_final TO valor_total""", conn)
print(re_alter1)

<ipython-input-56-605324e43539>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  re_alter1 = pd.read_sql_query("""ALTER TABLE aluguel RENAME COLUMN valor_final TO valor_total""", conn)

In [ ]:
re_alter2 = pd.read_sql_query("""ALTER TABLE Marca RENAME TO Montadora""", conn)
print(re_alter2)

In [ ]:
re_alter3 = pd.read_sql_query("""ALTER TABLE Cliente RENAME TO Cliente_infos""", conn)
print(re_alter3)

CONSULTAS QUE USAM OPERADORES LIKE E DATAS

.

<ipython-input-10-fb80e322cbf8>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  resultado3 = pd.read_sql_query("""SELECT * FROM aluguel WHERE valor_final >= 500 AND to_char(data_aluguel_entrega, 'YYYY-MM') LIKE '2022-01'""", conn)

,id_aluguel,fk_id_carro,fk_id_cliente,fk_pagamento,data_aluguel_inicial,data_aluguel_entrega,valor_final
0,1,1,1,1,2022-01-01,2022-01-10,500.0

In [ ]:
resultado4 = pd.read_sql_query("""SELECT * FROM TIPO_PAGAMENTO WHERE nome LIKE '%Cartão%'""", conn)
resultado4

<ipython-input-11-8625f919b7f5>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  resultado4 = pd.read_sql_query("""SELECT * FROM TIPO_PAGAMENTO WHERE nome LIKE '%Cartão%'""", conn)

   id_tipo_pagamento               nome
0                  1  Cartão de Crédito
1                  4   Cartão de Débito